{% extends "layout.html" %}
{% block content %}
  <div class="graph">

        <head>
          <meta charset="UTF-8">
          <title>Kubernetes Deployment Hierarchy</title>
          <style>
            .node {
              cursor: pointer;
            }
            .node circle {
              fill: #fff;
              stroke: steelblue;
              stroke-width: 1.5px;
            }
            .node text {
              font: 12px sans-serif;
            }
            .link {
              fill: none;
              stroke: #ccc;
              stroke-width: 1.5px;
            }
          </style>
        </head>
        <body>
          <div id="graph"></div>
          <script src="https://d3js.org/d3.v6.min.js"></script>
          <script src="https://d3js.org/d3-graphviz.v2.min.js"></script>
          <script>
            var graphviz = d3.select("#graph").graphviz();
            var graph = '""" + graph.source + """';
            graphviz
              .renderDot(graph)
              .on("end", function() {
                d3.selectAll(".node").on("click", function() {
                  var nodeId = d3.select(this).attr("id");
                  console.log("Clicked node: " + nodeId);
                });
              });
          </script>
        </body>
     </div>
{% endblock %}